/* -------------------------------
  Source / Live View Styles
------------------------------- */

/* Styles the value cells of a table with calculated values */
div.markdown-rendered table.table-editor tr > td.stm-cell.stm-value,
div.markdown-rendered table.table-editor tr > td.stm-cell > .stm-value {
	padding: 4px 12px;
	font-weight: calc(var(--font-weight) + var(--bold-modifier));
}

/* Styles the last row of a table with calculated values */
div.markdown-rendered table.table-editor tr.stm-row:last-of-type:not(.off) {
	background-color: var(--background-secondary);
}

/* -------------------------------
  Reading View Styles
------------------------------- */

/* Styles the value cells of a table with calculated values */
div.el-table > table tr.stm-row > td.stm-cell.stm-value,
div.el-table > table tr.stm-row > td.stm-cell > .stm-value {
	font-weight: calc(var(--font-weight) + var(--bold-modifier));
}

/* Styles the last row of a table with calculated values */
div.el-table > table tr.stm-row:last-of-type:not(.off) {
	background-color: var(--background-secondary);
}
