div.markdown-rendered table.table-editor {
	tr > td.stm-cell {
		&.stm-value, & > .stm-value {
			padding: var(--size-2-2) var(--size-4-2); // must be the same as the original .table-cell-wrapper
			font-weight: calc(var(--font-weight) + var(--bold-modifier));

			& + .table-cell-wrapper	{
				display: none;
			}
		}
		&:focus-within {
			& > .stm-value {
				display: none;
			}
		}
		&:not(:focus-within) {
			& > .stm-value ~ .table-cell-wrapper {
				padding: 0;
				opacity: 0;
				max-width: 0;
				max-height: 0;
				overflow: hidden;
			}
		}
	}
	tr.stm-row:last-of-type:not(.off) {
		background-color: var(--background-secondary);
	}
}

div.el-table > table {
	tr.stm-row > td.stm-cell {
		&.stm-value, & > .stm-value {
			font-weight: calc(var(--font-weight) + var(--bold-modifier));
		}
	}
	tr.stm-row:last-of-type:not(.off) {
		background-color: var(--background-secondary);
	}
}

.notice > .notice-message > svg + .stm-notice {
	position: relative;
	top: -3px;
	margin-left: 8px;
}
